@{
    ViewBag.Title = "首页";
}
    <div data-options="region:'north',border:false" style="height: 70px; ">
        <div>瑞科条码管理系统</div>
    </div>
    <div data-options="region:'west',split:true,title:'菜单导航栏'" style="width:230px;">
        <div id="aa" class="easyui-accordion" data-options="fit:true">
            <div title="主菜单" data-options="iconCls:'icon-search',selected:true">
                <ul id="menu"></ul>
            </div>
        </div>
    </div>
    <div data-options="region:'center'">
        <div id="tabs" class="easyui-tabs" data-options="fit:true">
            <div id="home_page" title="首页">
                欢迎使用瑞科条码管理系统。
            </div>
        </div>
    </div>
    <div data-options="region:'south'" style="height:25px;padding:1px;">登陆用户：</div>
@section scripts{
    <script type="text/javascript">
        $(function () {
            $('#menu').tree({
                url: '/MenuClass/MenuTree',
                animate: true,
                //onLoadSuccess: function () {
                //    $('#menu').tree('collapseAll');
                //},
                onClick: function (node) {
                    var title = node.text;
                    if (node.attributes != undefined&&node.attributes.url!=undefined) {
                        OpenTab(title, node.attributes.url);
                    }
                }
            });
        });

        function OpenTab(title, value) {
            if ($('#tabs').tabs("exists", title)) {
                $("#tabs").tabs("select", title);
            }
            else {
                $("#tabs").tabs("add", {
                    title: title,
                    closable: true,
                    content: CreateIFame(value)
                });
            }
        }

        function CreateIFame(src) {
            //var iframe = "<iframe width='100%' height='100%' scrolling='no' frameborder='0' src='" + src + "'></iframe>";
            var iframe = "<iframe frameborder=0 width='100%' height='99.5%' id='iframepage' name='iframepage' scrolling='no' frameborder='0' src='" + src + "' ></iframe>";
            return iframe;
        }

    </script>

}
